body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.block {
  text-align: center;
  vertical-align: middle;
}
.circle-red {
  background: red;
  border-radius: 50px;
  color: white;
  height: 50px;
  font-weight: bold;
  width: 50px;
  display: table;
  margin: 20px auto;
}

.circle-green {
  background: green;
  border-radius: 50px;
  color: white;
  height: 50px;
  font-weight: bold;
  width: 50px;
  display: table;
  margin: 20px auto;
}
.circle p {
  margin-top: 10px;
  vertical-align: middle;
  display: table-cell;
}

.imageNutriscore {
  height: auto;
  width: auto;
}
